<footer class="bg-zinc-800 border-t-1 border-zinc-600 py-10 text-[1rem] text-zinc-400">
    <div class="mx-10 flex items-center justify-around">
        <div class="mr-1">
            <p>Made with 😡 from my home.</p>
            <p>Copyright © 2022-2025 Z'Laast Allicock. </p>
            <p>All rights reserved.</p>
        </div>
        <div>
            <div class="font-bold mb-3 font-kode">Links</div>
            <p>Go back <a href="/">Home</a></p>
            <p>My projects on <a href="https://github.com/zlaast">GitHub</a></p>
            <p>Find stuff using <a href="/search">Search</a></p>
            <p>See how projects relate using the <a href="/network" data-astro-reload>Network</a></p>
            <p>Me, myself and I with <a href="/about">About</a></p>
        </div>
    </div>
</footer>