---
const { post, index, pageType } = Astro.props

import { parseDate } from '@utils/utils'
import { Image } from 'astro:assets'
import robot from '@images/emojis/robot.gif'
import bolt from '@images/emojis/bolt.gif'
import invader from '@images/emojis/invader.gif'
import unknown from '@images/emojis/rocket.gif'

let image
let color = ""
if (post.data.category == "Coding") { 
    image = robot
    color = "bg-coffee"
}
else if (post.data.category == "Electronics") { 
    image = bolt 
    color = "bg-red-500"
}
else if (post.data.category == "Pentesting") { 
    image = invader 
    color = "bg-slate-700"
}
else { 
    image = unknown
    color = "bg-coffee"
}

let showNumbers = false;
let showTags = false;
if (pageType == "projects")
{
    showNumbers = true;
    showTags = false;
}
else if (pageType == "tags")
{
    showNumbers = false;
    showTags = true;
}

let date = parseDate(post.data.date)
const updated = parseDate(post.data.updated)
let updated_flag = false

if (post.data.updated != undefined)
    updated_flag = true
---

<a href=`/posts/${ post.slug }`>
    <div class="flex group items-stretch border-1 border-neutral-600 bg-[#222222] rounded-lg overflow-hidden my-5 shadow-lg/40 hover:bg-[#2b2b2b] duration-300">
        <div class="hidden sm:flex flex-shrink-0 bg-[#2b2b2b] px-8 border-l-1 border-emerald-400">
            <div class="flex items-center h-full">
            {
                showTags && <svg xmlns="http://www.w3.org/2000/svg" class="fill-neutral-400 group-hover:fill-emerald-400 duration-300" width="48" height="48" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="M11.707 2.293A.997.997 0 0 0 11 2H6a.997.997 0 0 0-.707.293l-3 3A.996.996 0 0 0 2 6v5c0 .266.105.52.293.707l10 10a.997.997 0 0 0 1.414 0l8-8a.999.999 0 0 0 0-1.414l-10-10zM13 19.586l-9-9V6.414L6.414 4h4.172l9 9L13 19.586z"></path><circle cx="8.353" cy="8.353" r="1.647"></circle></svg>
            }
            {
                showNumbers && <p class="text-neutral-400 text-4xl w-[50px] text-center group-hover:text-emerald-400 duration-300">{ index }</p>
            }
            {
                !showTags && !showNumbers && <Image src={image} alt="Badge emoji" class="max-h-[80px] w-auto" />
            }
            </div>
        </div>
        <div class="text-neutral-200 font-normal text-xl p-5 py-6 inline">
            <div class="text-xl">
                { post.data.title }
                <span class="text-neutral-400"> # </span>
                { post.data.subtitle }
            </div>
            <div class="text-base my-3 text-neutral-400">
                { post.data.excerpt }
            </div>
            <div class="text-neutral-400 text-sm">
                <div class="flex items-center gap-1 my-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: oklch(70.8% 0 0);transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M13 7h-2v5.414l3.293 3.293 1.414-1.414L13 11.586z"></path></svg>
                    <span>Read Time: { post.data.read_time } min</span>
                </div>
                <div class="flex items-center gap-1 my-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: oklch(70.8% 0 0); transform: ;msFilter:;"><path d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm.002 16H5V8h14l.002 12z"></path><path d="m11 17.414 5.707-5.707-1.414-1.414L11 14.586l-2.293-2.293-1.414 1.414z"></path></svg>
                    <div class="flex flex-col">
                        {
                            updated_flag? <span>Updated: { updated }</span>:<span>Posted: { date }</span>
                        }
                    </div>
                </div>
                <div class="flex items-center text-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="20" height="20" viewBox="0 0 24 24" style="fill: oklch(70.8% 0 0); transform: ;msFilter:;"><path d="M11.707 2.293A.997.997 0 0 0 11 2H6a.997.997 0 0 0-.707.293l-3 3A.996.996 0 0 0 2 6v5c0 .266.105.52.293.707l10 10a.997.997 0 0 0 1.414 0l8-8a.999.999 0 0 0 0-1.414l-10-10zM13 19.586l-9-9V6.414L6.414 4h4.172l9 9L13 19.586z"></path><circle cx="8.353" cy="8.353" r="1.647"></circle></svg>
                    {
                        post.data.tags.sort().map((tag: any) => (
                            <span class="mr-1 whitespace-nowrap rounded-md after:content-[','] last:after:content-none">{ tag }</span>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</a>