---
import Base from '@layouts/Base.astro'
import PageSearch from '@components/Svelte/PageSearch.svelte'
import '@styles/pages.css'
---

<Base>
	<div class="mx-auto flex">
		<main class="mb-24 mt-10 pl-10 pr-3 lg:mt-16">
			<!-- Breadcrumbs -->
			<div class="mb-10 text-[20px] text-neutral-300">
				<a
					class="font-medium decoration-dotted decoration-1 underline-offset-8 hover:text-link hover:underline"
					href="/">Home</a
				> /
				<a
					class="font-medium decoration-dotted decoration-1 underline-offset-8 hover:text-link hover:underline"
					href="/blog/search">Search</a
				>
			</div>
			<h1
				class="my-16 max-w-fit bg-title p-3 font-readex text-6xl font-bold text-bg max-sm:text-center"
			>
				Search
			</h1>
			<PageSearch client:only="svelte" />
		</main>
	</div>
</Base>
