---
import { parseDate } from '@utils/utils';

const { post } = Astro.props;
const date = parseDate( post.data.date )
---
<a class="text-neutral-50 my-5 max-w-[350px] max-md:border-[1px] max-md:p-2 max-md:rounded-md max-md:border-neutral-600" href=`/blog/${ post.slug }`>
    <div class="overflow-hidden max-md:hidden rounded-xl mb-4">
        <img class="w-[320px] h-[200px] object-cover scale-125 hover:scale-150 hover:rotate-3 transition-all duration-400" src={ post.data.image } />
    </div>
    <h2 class="text-xl font-bold text-subtitle">{ post.data.subtitle }</h2>
    <h3 class="inline-block">{ post.data.title }</h3>
    <span class="inline-block">/</span>
    <span class="inline-block text-title">{ date }</span>
    <div>
        { post.data.tags.sort().map((tag: any) => 
            <span class="leading-10 text-sm">
                <span class="mr-1 whitespace-nowrap rounded-md border-[1px] border-slate-500 p-1">
                    <span class="relative left-0.5 text-sm text-neutral-300">{ tag }</span>
                </span>
            </span>
        )}
    </div>
</a>