---
import { Image } from 'astro:assets'
import hands from '@images/nav/avatar_hands.svg'
import head from '@images/nav/avatar_head.svg'
---

<script>
	const avatarTrigger = document.getElementById('avatar-trigger')!
	const head = document.getElementsByClassName('head')!
	const hands = document.getElementsByClassName('hands')!

	document.addEventListener('scroll', () => {
		if (avatarTrigger.getBoundingClientRect().top - window.innerHeight <= 0) {
			head[0].classList.remove('head-anim-hide')
			hands[0].classList.remove('hands-anim-hide')
		} else {
			head[0].classList.add('head-anim-hide')
			hands[0].classList.add('hands-anim-hide')
		}
	})
</script>

<style>
	.hands {
		top: -47px;
		transition-duration: 0.5s;
		transition-property: top;
		transition-timing-function: ease-in-out;
	}

	.hands-anim-hide {
		top: 48px;
		transition-delay: 0.8s;
		transition-duration: 0.5s;
		transition-property: top;
		transition-timing-function: ease-in-out;
	}

	.head {
		top: -58px;
		transition-delay: 0.7s;
		transition-duration: 0.7s;
		transition-property: top;
		transition-timing-function: ease-in-out;
	}

	.head-anim-hide {
		top: 58px;
		transition-duration: 0.5s;
		transition-property: top;
		transition-timing-function: ease-in-out;
	}

	.name-hue {
		animation-duration: 15s;
		animation-iteration-count: infinite;
		animation-name: name-hue-anim;
		animation-timing-function: linear;
	}

	@keyframes name-hue-anim {
		0% {
			filter: hue-rotate(0deg);
		}

		100% {
			filter: hue-rotate(1turn);
		}

		50% {
			filter: hue-rotate(180deg);
		}
	}
</style>

<footer
	id="footer"
	class="footer relative bottom-0 left-0 z-20 mt-auto w-full border-t-[48px] border-[#212326] bg-[#08070c] text-neutral-300"
>
	<div class="h-12 border-b-8 border-[cyan] bg-[#212326] drop-shadow-up" id="avatar-trigger"></div>
	<div class="avatar relative flex justify-center">
		<Image src={head} alt="little avatar head" class="head absolute z-[0] drop-shadow-md" />
		<Image
			src={hands}
			alt="little avatar hands"
			class="hands absolute z-[0] h-12 w-20 drop-shadow-md"
		/>
	</div>
	<div class="relative z-[2] flex items-center bg-[#08070c] pb-10 pt-14 max-md:flex-col">
		<div class="mx-auto flex justify-evenly text-lg max-md:flex-col max-md:text-center">
			<a class="p-2 text-lg font-semibold hover:text-[#cba0e7] max-md:p-3" href="/">Home</a>
			<a
				class="p-2 text-lg font-semibold hover:text-[#cba0e7] max-md:p-3"
				href="https://github.com/zlaast">GitHub</a
			>
			<a class="p-2 text-lg font-semibold hover:text-[#cba0e7] max-md:p-3" href="/blog/search"
				>Search</a
			>
			<a class="p-2 text-lg font-semibold hover:text-[#cba0e7] max-md:p-3" href="/network"
				>Network</a
			>
			<a class="p-2 text-lg font-semibold hover:text-[#cba0e7] max-md:p-3" href="/about">About</a>
		</div>
	</div>
	<div
		class="flex items-center justify-center bg-[#08070c] px-2 text-center text-sm text-neutral-600 max-md:ml-4"
	>
		© 2024 Z'Laast Allicock. All rights reserved. Made with 😡.
	</div>
</footer>
