---
import { Image } from 'astro:assets';
import hands from '@images/nav/avatar_hands.svg';
import head from '@images/nav/avatar_head.svg';
---

<script>
    const avatarTrigger = document.getElementById('avatar-trigger')!;
    const head = document.getElementsByClassName('head')!;
    const hands = document.getElementsByClassName('hands')!;
    document.addEventListener("scroll", () => 
    {
        if (avatarTrigger.getBoundingClientRect().top - window.innerHeight <= 0)
        {
            head[0].classList.remove("head-anim-hide");
            hands[0].classList.remove("hands-anim-hide");
        }
        else
        {
            head[0].classList.add("head-anim-hide");
            hands[0].classList.add("hands-anim-hide");
        }
    });
</script>

<style>
    .name-hue
    {
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-name: name-hue-anim;
    }

    @keyframes name-hue-anim
    {
        0% { filter: hue-rotate(0deg); }
        50% { filter: hue-rotate(180deg); }
        100% { filter: hue-rotate(1turn); }
    }

    .head
    {
        top: -58px;
        transition-property: top;
        transition-delay: 0.7s;
        transition-duration: 0.7s;
        transition-timing-function: ease-in-out;
    }

    .hands
    {
        top: -47px;
        transition-property: top;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }

    .head-anim-hide
    {
        top: 58px;
        transition-property: top;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }

    .hands-anim-hide
    {
        top: 48px;
        transition-property: top;
        transition-delay: 0.8s;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
</style>

<footer id="footer" class="footer border-[#212326] relative bottom-0 left-0 z-20 w-full border-t-[48px] bg-[#08070c] text-neutral-300">
    <div class="bg-[#212326] drop-shadow-up h-12 border-b-8 border-[cyan]" id="avatar-trigger"></div>
    <div class="avatar relative flex justify-center">
      <Image src={ head } alt="little avatar head" class="head absolute z-[0] drop-shadow-md" />
      <Image src={ hands } alt="little avatar hands" class="hands absolute z-[0] h-12 w-20 drop-shadow-md" />
    </div>
    <div class="relative z-[2] flex items-center bg-[#08070c] pt-6 max-md:flex-col">
      <div class="name-hue font-nabla flex w-[20%] justify-center border-r-[1px] border-slate-400 p-10 text-4xl max-md:hidden">Z'Laast</div>
      <div class="flex w-[80%] justify-evenly text-lg max-md:flex-col max-md:text-center">
        <a class="p-2 text-lg font-semibold hover:text-[#cba0e7] max-md:p-3" href="/">Home</a>
        <a class="p-2 text-lg font-semibold hover:text-[#cba0e7] max-md:p-3" href="https://github.com/zlaast">GitHub</a>
        <a class="p-2 text-lg font-semibold hover:text-[#cba0e7] max-md:p-3" href="/search">Search</a>
        <a class="p-2 text-lg font-semibold hover:text-[#cba0e7] max-md:p-3" href="/about">About</a>
      </div>
    </div>
    <div class="flex items-center justify-center bg-[#08070c] px-2 text-sm text-neutral-600">© 2024 Z'Laast Allicock. All rights reserved.</div>
</footer>
  