@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kode+Mono:wght@400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme 
{
    --color-coffee: #715A5A;
    --font-kode: "Kode Mono", monospace;
    --font-inter: "inter", sans-serif;
}

body 
{
    background-color: #262626;
    font-family: "inter", sans-serif;
    color: #D3DAD9;
}

a
{
    color: #00d492;
    font-weight: 400;
}

p
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.emoji
{
    display: inline;
    width: 5.55%;
    margin-bottom: 6px;
    align-self: center;
}

.gradient-text 
{
    background: -webkit-linear-gradient(135deg, #1cffbb, #ff23ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}