---
const { src, id } = Astro.props;
---
<div class="player h-[500px]" data-src={ src } id={ id }></div>

<script type="text/javascript">
    let player = Array.from(document.getElementsByClassName("player"))[0];
    let src = player.getAttribute("data-src");

	AsciinemaPlayer.create(`${src}`, player, { fit: 'height'} )
</script>