---
import { getCollection, type CollectionEntry } from 'astro:content'

import Base from '@layouts/Base.astro'
import SeriesCard from '@components/Astro/SeriesCard.astro'

// Dynamic URL Paths
export async function getStaticPaths() {
	const allPosts = await getCollection('posts')
	const posts = Array.from(allPosts)
	const tags = new Set()
	let paths: Object[] = []

	posts.forEach((post) => {
		post.data.tags.forEach((tag) => tags.add(tag.toLowerCase().replaceAll(' ', '-')))
	})

	tags.forEach((tag) => {
		paths.push({ params: { tags: tag }, props: posts })
	})

	return paths
}

type Props = CollectionEntry<'posts'>
const tag = Astro.params

const posts = await getCollection('posts')
posts.sort((a, b) => Date.parse(a.data.date) - Date.parse(b.data.date))
---

<Base>
	<div class="mx-auto flex">
		<main class="mb-24 mt-10 max-w-6xl pl-10 pr-3 lg:mt-16">
			<!-- Breadcrumbs -->
			<div class="mb-4 text-[20px] text-neutral-300">
				<a
					class="font-medium decoration-dotted decoration-1 underline-offset-8 hover:text-link hover:underline"
					href="/">Home</a
				> /
				<a
					class="font-medium decoration-dotted decoration-1 underline-offset-8 hover:text-link hover:underline"
					href=`/tags/${ Object.values(tag) }`>{Object.values(tag)}</a
				>
			</div>

			<hr class="mb-12 border-neutral-700" />

			<h1
				class="my-16 max-w-fit bg-title p-3 font-readex text-6xl font-bold text-bg max-sm:text-center"
			>
				Tag: {Object.values(tag)}
			</h1>
			<div>
				{
					posts.reverse().map((allPosts) => {
						let flag = false
						allPosts.data.tags.map((tags) => {
							if (
								tags.toLowerCase().replaceAll(' ', '-') ==
								Object.values(tag)[0].toLowerCase().replaceAll(' ', '-')
							) {
								flag = true
							}
						})

						if (flag) return <SeriesCard post={allPosts} />
					})
				}
			</div>
		</main>
	</div>
</Base>

<style is:global>
	/* Note:
    * This CSS is to style the markdown content,
    * since this content is inaccessible to tailwind.
    * Some of the styling is based off the tailwind Typography plugin.
    */

	:root {
		--link: #cd9eec;
		--subtitle: #c2410c;
		--title: #979b8d;
	}

	html {
		scroll-behavior: smooth;
	}
</style>
