---
import { getCollection, type CollectionEntry } from 'astro:content'

import Base from '@layouts/base.astro'
import Postcard from '@components/website/postcard.astro'

// Dynamic URL Paths
export async function getStaticPaths() {
	const allPosts = await getCollection('posts')
	const posts = Array.from(allPosts)
	const tags = new Set()
	let paths: Object[] = []

	posts.forEach((post) => {
		post.data.tags.forEach((tag) => tags.add(tag.toLowerCase().replaceAll(' ', '-')))
	})

	tags.forEach((tag) => {
		paths.push({ params: { tags: tag }, props: posts })
	})

	return paths
}

type Props = CollectionEntry<'posts'>
const tag = Astro.params

const posts = await getCollection('posts')
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Base>
    <section class="flex flex-col bg-neutral-800 py-20 px-8">
        <div class="max-md:max-w-[500px] min-md:w-[800px] mx-auto">
           <!-- Breadcrumbs -->
            <div class="flex breadcrumbs text-[1rem]">            
                <a href="/">Home</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: grey;transform: ;msFilter:;"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
                <a class="capitalize" href=`/tags/${ Object.values(tag) }`>Tag: { Object.values(tag) }</a>             
            </div>
            <h2 class="text-5xl text-emerald-400 my-10 font-kode capitalize">Tag:{ Object.values(tag) }</span></h2>
            {
                posts.reverse().map((allPosts: any, index) => {
                    let flag = false
                    allPosts.data.tags.map((tags: any) => {
                        if (tags.toLowerCase().replaceAll(' ', '-') == (Object.values(tag)[0] as string).toLowerCase().replaceAll(' ', '-')) {
                            flag = true
                        }
                    })

                    if (flag) return <Postcard post={ allPosts } index={ index } pageType="tags" />
                })
            }
        </div>
    </section>
</Base>

<style is:global>
.breadcrumbs {
	a {
		color: whitesmoke !important;
        font-weight: 400;
	}
}
</style>