---
// Layout
import Base from '@layouts/base.astro'
---

<Base>
    <section class="flex flex-col bg-neutral-800 py-20 px-8">
        <div class="max-md:max-w-[500px] min-md:w-[800px] mx-auto">
            <!-- Breadcrumbs -->
            <div class="flex breadcrumbs text-[1rem] mb-10">            
                <a href="/">Home</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: grey;transform: ;msFilter:;"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
                About       
            </div>
            <div class="content">
                <h2 class="my-10">About Me</h2>
                I like <i>lists</i>, so here's a <i>list</i> about me!
                <p>
                    <ul>
                        <li>I like programming. I do it a lot just cause it's fun. Not even joking. It's cheap too!</li>
                        <li>I like electronics. It's harder to do than programming due to how low level it can be (compared to programming). It's also pretty expensive, and messing it up is even more expensive, so I have to limit making circuits otherwise I'd have no money 💸</li>
                        <li>I like baking, cause I get to eat what I bake 🍰</li>
                        <li>I work out, usually by running (because no gyms are near me).</li>
                        <li>I spend a lot of time learning and I actually have a daily learning goal list. It has electronics, cybersecurity, and the guitar on it.</li>
                    </ul>
                </p>
                <h2 class="my-10">This Website</h2>
                <h3>Why I made it</h3>
                <p>
                    I wanted to document the various projects that I do, both software and hardware. I figured if I did that, whenever I stumble into a problem I've already solved, I can always come back here and reference it. Also if I need to troubleshoot projects I've already done, I can use this site as documentation!
                </p>
                <h3>How I made it</h3>
                <p>
                    I wanted to document the various projects that I do, both software and hardware. I figured if I did that, whenever I stumble into a problem I've already solved, I can always come back here and reference it. Also if I need to troubleshoot projects I've already done, I can use this site as documentation!
                </p>
                <p>
                    <ul>
                        <li>AstroJS 🚀 - Static site generation</li>
                        <li>CSS3 and TailwindCSS - Website styling</li>
                        <li>DaisyUI - Some tailwind components</li>
                        <li>JavaScript and Typescript - Interactivity</li>
                        <li>Svelte - Used to make the menu on the left and the search page</li>
                        <li>Fuse.js - The actual search engine</li>
                        <li>MDX - A type of Markdown that can include components. Used to write the posts</li>
                        <li>vis.js - Network Graph Visualization</li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
</Base>

<style is:global>
:root
{
    --block-bg-color: #222222;
    --emerald-color: #00d492;
}

/* CSS for text content */
.content 
{
    font-size: 18px;

    h2
    {
        color: var(--emerald-color);
        font-family: "Kode Mono", monospace;
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h3
    {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h4
    {
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    blockquote
    {
        border-radius: 0.5rem;
        background-color: var(--block-bg-color);
        padding: 1rem 2rem;
        margin-bottom: 1rem;
        max-width: 100%;
        line-height: 2;

        strong
        {
            font-weight: 600;
        }
    }

    code
    {
        color: #6eb8ff;
    }

    .caption
    {
        margin-top: 1rem;
        font-size: 1rem;  
    }

    img
    {
        margin: 2rem auto;
    }

    p
    {
        line-height: 2;
        word-spacing: 0.05rem;
    }

    ol
    {
        border-radius: 0.5rem;
        background-color: var(--block-bg-color);
        padding: 1.5rem 2rem;
        margin-bottom: 1rem;
        max-width: 100%;
        line-height: 2;

        li
        {
            list-style-type: decimal;
            line-height: 2.5rem;
            margin-left: 1.5rem;
        }   
    }

    ul
    {
        border-radius: 0.5rem;
        background-color: var(--block-bg-color);
        padding: 1.5rem 2rem;
        margin-bottom: 1rem;
        max-width: 100%;
        line-height: 2;

        li
        {
            list-style-type: disc;
            line-height: 2.5rem;
            margin-left: 1.5rem;
        }
    }
}
</style>
