---
// Layout
import Base from '@layouts/base.astro'
---

<Base>
    <section class="flex flex-col bg-neutral-800 py-20 px-8">
        <div class="max-md:max-w-[500px] min-md:w-[800px] mx-auto">
            <div class="content">
                <h2 class="my-10">About Me</h2>
                I like <i>lists</i>, so here's a <i>list</i> about me!
                <p>
                    <ul>
                        <li>I like programming. I do it a lot just cause it's fun. Not even joking. It's cheap too!</li>
                        <li>I like electronics. It's harder to do than programming due to how low level it can be (compared to programming). It's also pretty expensive, and messing it up is even more expensive, so I have to limit making circuits otherwise I'd have no money 💸</li>
                        <li>I like baking, cause I get to eat what I bake 🍰</li>
                        <li>I work out, usually by running (because no gyms are near me).</li>
                        <li>I spend a lot of time learning and I actually have a daily learning goal list. It has electronics, cybersecurity, and the guitar on it.</li>
                    </ul>
                </p>
                <h2 class="my-10">This Website</h2>
                <h3>Why I made it</h3>
                <p>
                    I wanted to document the various projects that I do, both software and hardware. I figured if I did that, whenever I stumble into a problem I've already solved, I can always come back here and reference it. Also if I need to troubleshoot projects I've already done, I can use this site as documentation!
                </p>
                <h3>How I made it</h3>
                <p>
                    I wanted to document the various projects that I do, both software and hardware. I figured if I did that, whenever I stumble into a problem I've already solved, I can always come back here and reference it. Also if I need to troubleshoot projects I've already done, I can use this site as documentation!
                </p>
                <p>
                    <ul>
                        <li>AstroJS 🚀 - Static site generation</li>
                        <li>CSS3 and TailwindCSS - Website styling</li>
                        <li>DaisyUI - Some tailwind components</li>
                        <li>JavaScript and Typescript - Interactivity</li>
                        <li>Svelte - Used to make the menu on the left and the search page</li>
                        <li>Fuse.js - The actual search engine</li>
                        <li>MDX - A type of Markdown that can include components. Used to write the posts</li>
                        <li>vis.js - Network Graph Visualization</li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
</Base>

<style is:global>

.breadcrumbs {
	a {
		color: whitesmoke !important;
        font-weight: 400;
	}
}

h2 {
	font-size: 1.5rem;
	color: #00d492;
	font-family: "Kode Mono", monospace;
	margin: 1.5rem 0rem;
	font-weight: bold;
}

h3 {
	color: #6ee7b7;
	font-family: "Kode Mono", monospace;
	margin: 1.5rem 0rem;
	font-weight: bold;
}


.content {
	word-spacing: 0.15rem;

    ul {
        background-color: #15161a;
        padding: 1rem 2rem;
        margin: 2rem 0;
        border-left: 3px solid #00d492;

        li {
            list-style-type: square;
            margin-left: 1.3rem;
            line-height: 2.5rem;
        }
    }
}

p {
	line-height: 2;
}
</style>
