---
import { getCollection } from 'astro:content';

import Base from '@layouts/Base.astro';
import Card from '@components/Astro/Card.astro';

const posts = await getCollection("posts");

posts.sort((a, b) => Date.parse(a.data.date) - Date.parse(b.data.date));
---
<style is:global>
	mjx-container {
		overflow-x: auto;
		overflow-y: hidden;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.recent-posts
	{
		background: linear-gradient(65deg, hsl(226,81%,64%),hsl(271,81%,64%),hsl(316,81%,64%),hsl(1,81%,64%),hsl(46,81%,64%),hsl(91,81%,64%),hsl(136,81%,64%),hsl(181,81%,64%));
		background-size: 200% 200%;
		animation: rainbow-anim 20s alternate infinite;
	}

	@keyframes rainbow-anim
	{
		50% { background-position: 100% 50%; }
	}

	.name-hue
    {
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-name: name-hue-anim;
    }

    @keyframes name-hue-anim
    {
        0% { filter: hue-rotate(0deg); }
        50% { filter: hue-rotate(180deg); }
        100% { filter: hue-rotate(1turn); }
    }
</style>

<Base>
	<div id="main" class="bg-[#020102]">
		<!-- Background Video -->
		<video autoplay loop muted plays-inline disablepictureinpicture src="/images/index/index_background.webm" class="fixed left-[-10px] top-0 z-10 min-h-full max-w-[unset] object-cover"></video>
		
		<!-- Hero Section  -->
		<div class="relative z-20 mx-auto flex max-w-6xl flex-col px-10 pt-20 text-neutral-200">
			<div class="flex flex-row max-lg:flex-wrap">
				<img class="mx-auto scale-75" src="/images/index/portrait_index.webp" alt="A pixelated portrait of me" />
				<div class="pt-14">
				<h1 class="name-hue font-nabla mb-6 text-9xl max-lg:text-center max-md:text-6xl">Z'Laast</h1>
				<h2 class="name-hue font-readex text-bg my-3 bg-[#f4d91f] p-3 text-center text-3xl font-bold max-md:text-xl">A B.Eng's Blog</h2>
				<p class="my-auto text-xl">It's been known that, on occasion, I make or learn something interesting (at least to me) and this is where I get to talk about it. This blog is about software and circuits ⚡.</p>
				</div>
			</div>
			
			<div class="flex flex-row max-lg:flex-wrap">
				<img class="mx-auto scale-[85%]" src="/images/index/computer_screen.webp" alt="Computer Screen" />
				<p class="my-auto text-xl">The code consists of programming challenges, circuits, and various other projects that I occasionally do.</p>
			</div>
			
			<div class="flex flex-row max-lg:flex-wrap">
				<img class="mx-auto scale-75" src="/images/index/circuit_board.webp" alt="Circuit board" />
				<p class="my-auto text-xl">Developing circuits is costly, time consuming, and often difficult to debug. <strong>But</strong> for the circuits I <em>do</em> make, I try to have detailed writeups.</p>
			</div>
			</div>

		<!-- Recent Posts -->
		<div class="recent-posts relative z-20 mt-5 pt-2">
			<div class="bg-bg pb-12">
				<div class="mx-auto flex max-w-5xl flex-col px-10">
					<h1 class="font-readex bg-title text-bg my-16 max-w-fit p-3 text-6xl font-bold max-sm:text-center">Recent</h1>
					{ 
						posts.slice(posts.length-3, posts.length).reverse().map((post) => 
						{
							return ( <Card post = { post } /> );
						})
					}
				</div>
			</div>
		</div>
	</div>
</Base>