---
import Base from '@layouts/base.astro'
import '@styles/global.css'

import { getCollection } from 'astro:content'
const posts = await getCollection('posts')

let checkForValue = (value) => nodes.some((obj) => Object.values(obj).includes(value))

let json = posts
	.map((post) => {
		return {
			title: post.data.title,
			subtitle: post.data.subtitle,
			url: post.slug,
			graph_tags: post.data.graph_tags
		}
	})
	.filter((key) => key.graph_tags)

// Primary Nodes
let graph_tags: any = []
json.forEach((post) => {
	graph_tags.push(post.graph_tags)
})
graph_tags = new Set(graph_tags.flat())

// Create Nodes and Edges
let nodes = []
let edges = []

Array.from(graph_tags).forEach((tag) => {
	nodes.push({
		id: tag,
		label: tag,
		group: 'principle'
	})
})

json.forEach((post) => {
	Array.from(graph_tags)
		.sort()
		.forEach((tag) => {
			// Add Nodes
			if (!checkForValue(post.url)) {
				if (post.graph_tags?.includes(tag)) {
					nodes.push({
						id: post.url,
						label: post.title + '\n' + post.subtitle,
						group: tag
					})
				}
			}

			// Add Edges
			if (post.graph_tags?.includes(tag)) {
				edges.push({
					from: post.url,
					to: tag
				})
			}
		})
})
---

<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<Base>
    <section class="flex flex-col bg-neutral-800 py-20 px-8">
        <div class="max-md:max-w-[500px] min-md:w-[800px] mx-auto">
            <!-- Breadcrumbs -->
            <div class="flex breadcrumbs text-[1rem] mb-10">            
                <a href="/">Home</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: grey;transform: ;msFilter:;"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
                Network       
            </div>
            <div class="content">
                <h2 class="my-1 mb-7 text-4xl font-bold">Network Graph</h2>
				<!-- Network Graph -->
				<div id="concepts" class="w-5xl"></div>
                <button id="reset-zoom" class="btn btn-outline btn-success">Reset Zoom</button>

                <!-- Features Section -->
				<h2 class="text-3xl text-subtitle">Features</h2>
				<ul>
                    <li>You may drag around nodes, zoom in and out, and pan the graph</li>
					<li>
						The <strong>triangular</strong> nodes are the <strong>concepts</strong>, the <strong>square</strong> nodes are <strong>posts</strong> that contain those
						concepts
					</li>
					<li>
						Double-clicking a <strong>square</strong> node will redirect you to the relevant post
					</li>
					<li>Double-clicking a <strong>triangular</strong> will zoom the graph into that node</li>
				</ul>

                <!-- What is this? -->
				<h2 class="text-3xl text-subtitle">What is this?</h2>
				<p>
                    While writing code (usually for Project Euler), I often came across the issue of, "<em>Haven't I seen this before?</em>"
                </p>
                <p>
                    Yep, it isn't unusual for me to have written about some code or issue I solved, but then can't remember <em>which</em> post that was. 
                    Wouldn't it be nice if I had a way of connecting related concepts together?
                </p>
                <p>
                    Well, a <strong>Network Graph</strong> is a nice visualization tool for doing just that!
                    It relates concepts and posts together so I can (hopefully), quickly find those posts that could help me figure out a problem.
                </p>
            </div>
        </div>
    </section>

<style is:global>
:root
{
    --block-bg-color: #222222;
    --emerald-color: #00d492;
}

/* CSS for text content */
.content 
{
    font-size: 18px;

    h2
    {
        color: var(--emerald-color);
        font-family: "Kode Mono", monospace;
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h3
    {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h4
    {
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    blockquote
    {
        border-radius: 0.5rem;
        background-color: var(--block-bg-color);
        padding: 1rem 2rem;
        margin-bottom: 1rem;
        max-width: 100%;
        line-height: 2;

        strong
        {
            font-weight: 600;
        }
    }

    code
    {
        color: #6eb8ff;
    }

    .caption
    {
        margin-top: 1rem;
        font-size: 1rem;  
    }

    img
    {
        margin: 2rem auto;
    }

    p
    {
        line-height: 2;
        word-spacing: 0.05rem;
    }

    ol
    {
        border-radius: 0.5rem;
        background-color: var(--block-bg-color);
        padding: 1.5rem 2rem;
        margin-bottom: 1rem;
        max-width: 100%;
        line-height: 2;

        li
        {
            list-style-type: decimal;
            line-height: 2.5rem;
            margin-left: 1.5rem;
        }   
    }

    ul
    {
        border-radius: 0.5rem;
        background-color: var(--block-bg-color);
        padding: 1.5rem 2rem;
        margin-bottom: 1rem;
        max-width: 100%;
        line-height: 2;

        li
        {
            list-style-type: disc;
            line-height: 2.5rem;
            margin-left: 1.5rem;
        }
    }
}

#concepts {
    border: 3px solid var(--emerald-color);
    border-radius: 0.5rem;
    background-color: var(--block-bg-color);
    height: 900px;
    width: 800px;
    margin: 1rem 0;
}

@media only screen and (max-width: 600px) {
    #concepts
    {
        width: 300px;
        height: 300px;
    }
}
</style>

<script type="text/javascript" define:vars={{ nodes, edges }}>
	// Graph Information
	let container = document.getElementById('concepts')

	let data = {
		nodes: nodes,
		edges: edges
	}

	let options = {
		nodes: {
			shape: 'square',
			size: 8,
			font: {
				size: 10,
				color: 'white'
			}
		},
		edges: {
			width: 1
		},
		groups: {
			principle: {
				shape: 'triangleDown',
				color: '#6eb8ff',
				size: 15,
				font: {
					color: '#00d492',
					size: 12
				}
			}
		}
	}
	network = new vis.Network(container, data, options)

	// Graph SQUARE nodes -> post URL
	// Graph TRIANGULAR nodes -> zoom in
	network.on('doubleClick', function (params) {
		let node = params.nodes[0]

		if (node.indexOf('/') > -1) {
			window.location.href = `/posts/${node}`
		} else {
			network.focus(node, {
				scale: 2.5,
				animation: {
					easingFunction: 'easeInQuad'
				}
			})
		}
	})

	// Reset Zoom
	let resetBtn = document.getElementById('reset-zoom')
	resetBtn.addEventListener('click', () => {
		network.fit({
			animation: {
				easingFunction: 'easeOutQuad'
			}
		})
	})
</script>
