---
// Layout
import Base from '@layouts/base.astro'
import SearchBox from '@components/website/search.svelte'
---

<Base>
    <section class="flex flex-col bg-neutral-800 py-20 px-8">
        <div class="max-md:max-w-[500px] min-md:w-[800px] mx-auto">
            <h2 class="text-5xl text-emerald-400 mb-10 font-kode">Search</span></h2>
            <SearchBox client:load></SearchBox>
        </div>
    </section>
</Base>
