<div role="alert" class="flex flex-col alert alert-warning alert-soft">
    <div class="text-2xl font-bold font-kode text-yellow-400">Warning</div>
    <div class="text-yellow-300">
        <slot />
    </div>
</div>