<a href="/">
    <div class="max-xl:hidden absolute border-emerald-500 m-5 ml-10 w-fit border-3 p-1 select-none">
        <div class="font-kode text-emerald-400 text-2xl leading-none font-black">
            <div>ZLA</div>
            <div>AST</div>
        </div>
    </div>
</a>
