---
const text = Astro.props.text;
const wordCount = text.trim().split(/\s+/).length;
let zoomText = '';

text.split(' ').forEach((word:any, index:Number) => 
{
    zoomText += `<span class="relative inline-block animate-[zoom_${ wordCount }s_infinite]" style="animation-delay: calc(0.5s * var(--i));--i:${index}">${ word }</span>`
    zoomText += '<span>&nbsp;</span>'
});
---

<span class="inline-block whitespace-nowrap">
    <Fragment set:html={ zoomText } />
</span>

<style>
@keyframes zoom
{
    0%, 100% { scale: 1.0; }
    50% { scale: 1.2; }
}
</style>